@font-face{

	font-family: 'Amazon-Ember-Regular';
	src: url('../assets/fonts/Amazon-Ember-Regular.ttf') format('truetype');
	font-style:normal;
	font-weight: normal;
}

/*VARIABLES DE COLORES*/
:root{

	--blanco-bordes:#DDDDDD ;
	--blanco: #fff;
	--blanco-boton: #E0E3E8;
	--azul-claro: #8ECAE6;
	--azul-medio: #219EBC;
	--azul-oscuro: #023047;
	--naranja-claro: #FFB703;
	--naranja-oscuro: #FB8500;
	--rojo-claro: #ff5b46;

	/*FUENTES*/

	--amazon: Amazon-Ember-Regular;
}


/*ESTILOS GLOBALES*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;\
}

body{

}

/*ESTILOS CONTAINER*/

.container{
	display: flex ;
	justify-content: center;
	background: ;
	margin: 5% 0%;
}

.form-container{

	width: 30%;

	border-radius: 5px;
	border: 1px solid var(--blanco-bordes);

	height: 27rem;

}


.form-container h2{

	margin-top: 8px;
	text-align: center;
}

a{
	text-decoration: none;
	color: var(--naranja-claro);
}

.form-container form{

	background: #fff;
	padding: 0.8rem 1rem;

	margin: 0% 0%;
}

/*ESTILO ELEMENTOS DEL FORM*/

h3{
	font-size: 2rem;
}

.form-container p{
	text-align: center;

}


.form-container label{
	
}


input{

	display: block;
	margin: 0 auto;

	width: 90%;
	height: 2rem;

	padding: 2px 4px;

	border: none;
	outline: none;

	border: 1px solid var(--blanco-bordes);
	border-radius: 5px;
}

.contenedor-correo{
	margin-top: 20px;

}

.contenedor-clave{
	margin-top: 20px;
}

.btn{

	background-color:var(--naranja-claro);

	border: 1px solid var(--naranja-oscuro);
	border-radius: 5px;

	margin-top: 15px;
}

.texto-registro{
	color: var(--naranja-oscuro);
}

.btn-registro{

	transition: background .15s;

	display: block;

	background-color: var(--blanco-boton);

	text-decoration: none;
	color: #000;

	border: 1px solid var(--blanco-bordes);
	border-radius: 5px;

	margin: 0 auto;
	margin-top: 5px;
	width: 18rem;
	padding: 5px;
}

.admin{

	margin-top: 2rem;
	font-size: 0.8rem;
}

.btn-admin{


	margin-top:2px ;
	background: none;
	border: none;
	width: 15rem;

}

*{
	font-family: var(--amazon);
}

/*ESTILOS HOVER*/

.btn:hover{

	transition: background .15s;
	background-color: var(--naranja-oscuro);
	border-color: var(--naranja-claro);
}

.btn-registro:hover{

	transition: background .15s;
	background-color: var(--blanco-bordes);
	border-color: var(--blanco-boton);
}

input:focus{

	border-color: var(--naranja-claro);
	box-shadow: 0px 0px 5px 1px var(--naranja-oscuro);
}