@font-face{

	font-family: 'Amazon-Ember-Regular';
	src: url('../assets/fonts/Amazon-Ember-Regular.ttf') format('truetype');
	font-style:normal;
	font-weight: normal;
}
/*VARIABLES DE COLOR*/
:root{
	
	--blanco-bordes:#DDDDDD ;
	--blanco: #fff;
	--blanco-boton: #E0E3E8;
	--azul-claro: #8ECAE6;
	--azul-medio: #219EBC;
	--azul-amazon: #131921;
	--azul-oscuro: #023047;
	--verde-pastel: #bcf0c2;
	--verde-claro: #60d394;
	--naranja-claro: #FFB703;
	--naranja-oscuro: #FB8500;
	--rojo-claro: #ff5b46;
	--rojo-oscuro: #ee6055;

	/*FUENTES*/

	--amazon: Amazon-Ember-Regular;

}

/*ESTILOS*/

.btn-agregar_pasarela{

	padding: .3rem .8rem;

	margin: 5px 15%;

	background-color: var(--naranja-claro);
	border: 1px solid var(--naranja-oscuro);
	border-radius: 5px;

	outline: none;
}


#btn-login{
	color: var(--blanco);
	background-color: var(--verde-claro);
	padding: 0.5rem 2rem;
}

/*ESTILOS MODAL*/

.modal-pasarela{

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #111111bc;
	display: flex;
	opacity: 0;
	pointer-events: none;
	transition: opacity .6s ;
}

.vermodal{

	opacity: 1;
	pointer-events: unset;
	transition: opacity .6s ;
}


.container-modal_pasarela{

	margin: auto;
	background-color: white;
	border-radius: 6px;
	padding: 3em 2.5em;

	display: grid;
	gap: 1em;
	place-items: center;
	grid-column: 100%;
}

.btn-login_modal{

	transition: background .6s, border .6s;

	font-size: 1.5rem;
	text-decoration: none;
	color: #000;

	background-color: var(--naranja-claro);
	border: 1px solid var(--naranja-oscuro);
	border-radius: 5px;

	padding: 0.3rem 1rem;
}

.cerrar{

	transition: background .6s, border .6s;

	font-size: 1rem;
	text-decoration: none;
	color: #000;

	background-color: var(--rojo-claro);
	border: 1px solid var(--blanco);
	border-radius: 5px;

	padding: 0.2rem 0.8rem;
}

/*PSEUDO CLASES*/

.btn-login_modal:hover{
	transition: background .6s, border .6s;
	border: 1px solid var(--naranja-claro);
	background-color: var(--naranja-oscuro);
}

.cerrar:hover{

	transition: background .6s, border .6s;
	border: 1px solid #000;
	background-color: var(--rojo-oscuro);
}